@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&family=Nunito:wght@200;300;400;600;700&family=Raleway:wght@300;400&display=swap');
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: $yellow-f6;
}

a {
  text-decoration: none;
}

.header {
  font-size: 26px;
  text-align: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}