@import "../../../styles/variables";

.input {
  width: 100%;
  padding: 6px;
  font-size: 16px;
  border: 1px solid $primary-color;
  border-radius: 4px;

  &:focus-visible {
    outline: 3px solid rgba($primary-color, 0.2);
  }

  &--isValid {
    border-color: $success-color;

    &:focus-visible {
      outline: 3px solid rgba($success-color, 0.2);
    }
  }

  &--isNotValid {
    border-color: $error-color;

    &:focus-visible {
      outline: 3px solid rgba($error-color, 0.2);
    }
  }
}